extends layout
block content
    div.row
        div.column.hero
            img(src="/images/togv.jpg")
    div.row
        div.column.txtctr
            h1= title
            p Vi gifter oss i Tveit kirke den 27. august 2016. Følg med her for mer informasjon.     
            
block scripts
    script(src= gmapscripturl)