extends layout

block content
    // h1 Trine & Vegard
    // table.table.table-striped.table-bordered
    //     tr
    //         td Name
    //         td Category
    //         td Date
    //     if (typeof articles === "undefined")
    //         tr
    //         td Nada
    //     else
    //         each article in articles 
    //             tr
    //                 td #{article.name}
    //                 td #{article.category}
    //                 - var date  = new Date(article.date);
    //                 - var day   = date.getDate();
    //                 - var month = date.getMonth() + 1;
    //                 - var year  = date.getFullYear();
    //                 td #{month + "/" + day + "/" + year}
    // form.well(action="/addArticle", method="post")
    //     label Item Name:
    //     input(name="name", type="text")
    //     label Item Category:
    //     input(name="category", type="text")
    //     br
    //     label Content:
    //     textarea(name="body")
    //     br
    //     button.btn(type="submit") Add item