doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body(class=currentPath)
    div.content-wrapper
        header.mobile
            div.hamburger
                div
                div
                div
        div.container
            nav
                ul
                    li
                        a(href='/') Hjem
                    li
                        a(href='/guide') Info
                    li
                        a(href='/respond') Svar
                    li
                        a(href='/wishlist') Ønskeliste
                    li
                        a(href='/sleep') Overnatting
            div.content-overlay
            div.content    
                block content
        block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="/javascripts/togv.js")

