doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.container
        div.row
            div.hero
                img(src="/images/togv.jpg")
        div.row
            div.column.txtctr
                h1 Trine & Vegard 27.08.16
                p Vi gifter oss i Tveit kirke den 27. august 2016. Følg med her for mer informasjon.       
    block content
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
