extends layout
block content
    div.row
        div.column.column-50.column-offset-25.hero
            h2 RSVP
            p.
                Vi vil gjerne vite hvem som kommer for å feire dagen med oss, så det hadde vært fint om du/dere 
                kunne svart her, på e-post, sms, hangouts, snapchat, telefon eller telegraf. 
            p.
                Om vi får svar før 01.06.2016 hadde det vært flott. Legg gjerne med en kommentar hvis
                du eller dere har spesielle behov når det kommer til mat og drikke.
    div.row
        div.column.column-50.column-offset-25
            form(method="post")
                fieldset
                    label(for="name") Navn
                    input(type="text", id="name")
                    div
                        input(type="checkbox", id="coming")
                        label(class="label-inline", for="coming") Jeg/vi kommer!
                    label(for="comments") Kommentar (f.eks allergier, veganer eller andre spesielle behov)
                    textarea(id="comments", placeholder="...")
                    input(type="submit", class="button-primary", value="Send")