extends layout
block content
    div.row
        div.column.hero
            div#gmap
    div.row
        div#hotel.column.body-text
            h1 Overnatting
            p.
                For de som trenger et sted å overnatte, kan <a href="https://www.nordicchoicehotels.no/clarion/clarion-hotel-ernst/">Clarion Hotel Ernst</a> tilby enkelt-
                og dobbeltrom til våre gjester. Dere får da også frokost på hotellet morgenen etter festen. Enkeltrom koster Kr. 940,- pr døgn, mens dobbeltrom koster Kr. 990,-
            P.
                Rom kan bookes på <a href="mailto:booking.ernst@choice.no">e-post</a> eller telefon <a href="tel:+4738128610">38 12 86 10</a>. Vi mangler ref.nr. for dette for
                øyeblikket, men skal få lagt det inn her så snart som mulig. I mellomtiden regner vi med det går greit å spesifisere dato og at det gjelder Trine og Vegards 
                bryllup.
block scripts
    script(src="/javascripts/maps.js")
    script(src=gmapsscripturl, async, defer)