extends layout

block content
    div.row
        div.column.body-text
            h1 Hansen & Co
            p.
                Gavelisten kan du finne på Hansen & Co i Skippergata 14. Om det skulle vise seg vanskelig å oppsøke 
                denne butikken kan vi sende en liste på forespørsel, eller så kan dere ringe Hansen & Co på telefon
                <a href="tel:+4738021141">38 02 11 41</a>
            h1 Kitchn 
            p.
                Lenke til ønskeliste på <a href="https://www.kitchn.no/bryllup/vis-liste/?wishListId=76507">Kitchn.</a>
                Ønskelisten blir løpende oppdatert.
            h1 Annet
            p.
                Vi ønsker oss også gavekort i Kvadraturen, på Hansen & Co, Kitchn, eller eventuelt pengegave.
                